.jumbotron{
    background: url("images/nathan-dumlao-KixfBEdyp64-unsplash.jpg")  center fixed;
    animation: fade 5s;
    background-position: bottom bottom;
    background-size: cover;
    opacity: 100%;
}

    @keyframes fade{
        0%{ opacity: 15%;}
        100%{opacity: 100%;}
    }

/* .jumbotron:hover{
    background: url("images/nathan-dumlao-KixfBEdyp64-unsplash.jpg")  center fixed;
    background-position: bottom bottom;
    background-size: cover;
} */

html body{
    background-color: #ddcdba;
    font-family: 'Roboto Slab', 'serif';
    color: #aaae9f;
}

.nameIntro{
    animation: slide 5s;
    height: 100vh;
    margin-left: 10vw;
}

    @keyframes slide{
        0%{margin-left: -50vw; color: burlywood;}
        100%{ margin-left: 10vw; color: #aaae9f;}
    }

.mosaic-container{
    display: grid;
    align-content: center;
    margin: auto;
    grid-row-gap: 1rem;
    width: 75vw;
}

.item1{
    height: 15rem;
    grid-row: 1 2;
    grid-column: 1;
    align-self: center;
    margin-right: -12rem;
}

.item2{
    height: 15rem;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}
.item3{
    height: 15rem;
    grid-row: 1;
    grid-column: 3;
    align-self: center;
}
.item4{
    height: 15rem;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}
.item5{
    height: 15rem;
    grid-row: 2;
    grid-column: 2 3;
    align-self: center;
}
.item6{
    height: 15rem;
    grid-row: 2;
    grid-column: 1;
    align-self: center;
}

.motto1{
    color: black;
}

.motto2{
    color: black;
}

.motto3{
    color: black;
    
}