.jumbotron{
    background: url('images/images (5).jpg') no-repeat center fixed;
    background-size: cover;
}

html body{
    background-color: #ddcdba;
    font-family: 'Roboto Slab', 'serif';
    color: #aaae9f;
}