html body{
    
    font-family: 'Roboto Slab', 'serif';
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #433a2b;
    color: #c1c0c0;
}

main{
    flex:1;
}

.coffeemenu{
   padding: 20px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.coffeeHeader{
    display: flex;
    justify-content: center;
}

.perfectCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-inline-block{
    display: inline-block;
}

.flex{
display: inline;
}

footer{
    background-color: #7f8f88;
}

@media only screen and (min-width: 901px) {
    .jumbotron{
        background: url('images/images (5).jpg') no-repeat center fixed;
        background-size: cover;
        .logo{
            width: 200px;
            position: absolute;
            right: 30px;
            top: 30px;
        }
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .hoursHeader{
            grid-column: 1;
            grid-row: 1
        }
        .times{
            grid-column: 1;
            grid-row: 2;
        }
        .socialHeader{
            grid-column: 3;
            grid-row: 1;
        }
        .social{
            display: flex;
            flex-direction: column;

            grid-column: 3;
            grid-row: 2;
        }
        .map{
            grid-column: 2;
            grid-row: 2;
            margin-bottom: 15px;
        }
    }
}



@media only screen and (max-width: 900px) {
    .jumbotron{
        background: url('images/images (5).jpg') no-repeat center fixed;
        background-size: cover;

        .logocontainer{
            display: flex;
            justify-content:  center;
            .logo{
                width: 200px;

            }
        }
        
    }
    footer{
        .map{
            margin: 15px;
        }
    }

}